<ion-view title="Descubrir ruta" id="page11">
  <ion-content padding="true" class="has-header">
    <div id="descubrirRuta-container5">
      <div>
        <img src="img/zFpREns5SNWjkUyIXrN4_cerrar.png" style="display: block; width: 10%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="descubrirRuta-heading7" style="color:#000000;font-weight:300;text-align:center;">DESCUBRE RUTAS</h3>
    </div>
    <form id="descubrirRuta-form4" class="list">
      <label class="item item-select" id="descubrirRuta-select1">
        <span class="input-label">Elegir estado</span>
        <select></select>
      </label>
      <label class="item item-select" id="descubrirRuta-select2">
        <span class="input-label">Tematica</span>
        <select></select>
      </label>
      <label class="item item-select" id="descubrirRuta-select3">
        <span class="input-label">Concentraciones</span>
        <select></select>
      </label>
      <label class="item item-select" id="descubrirRuta-select4">
        <span class="input-label">Pistas de carreras</span>
        <select></select>
      </label>
    </form>
    <div id="descubrirRuta-container6">
      <h5 id="descubrirRuta-heading8" style="color:#000000;font-weight:400;">RESULTADOS</h5>
    </div>
    <div id="descubrirRuta-button-bar4" class="button-bar">
      <button id="descubrirRuta-button33" class="button button-dark  button-block">Cancelar</button>
      <button id="descubrirRuta-button34" class="button button-balanced  button-block">A rodar!</button>
    </div>
  </ion-content>
</ion-view>