<ion-view title="Grabar rutas" hide-nav-bar="true" hide-back-button="true" id="page10">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="grabarRutas-container8">
      <div>
        <a style="display:block;" ui-sref="misRutas">
          <img src="img/RqaCs7ZoS9SeVKQZA5LM_cerrar.png" style="display: block; width: 10%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <h4 id="grabarRutas-heading12" style="color:#000000;font-weight:400;text-align:center;">OK LISTO!</h4>
      <div id="grabarRutas-markdown6" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Al final de tu viaje tendras que asignarle un nombre a tu ruta y podras compartirla.</p>
      </div>
      <button id="grabarRutas-button28" style="border-radius:8px 8px 8px 8px;" class="button button-dark">OK</button>
    </div>
  </ion-content>
</ion-view>