<ion-view title="Gracias" hide-nav-bar="true" hide-back-button="true" id="page2">
  <ion-content padding="true" style="background: url(img/2f2Czz80Q0ef6fOFTaaJ_camino.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 72px;"></div>
    <div>
      <img src="img/4L6EH2jTDu100YsNNPUo_RideSafeLOGOb.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="gracias-heading1" style="color:#FFFFFF;font-weight:300;text-align:center;">GRACIAS</h1>
  </ion-content>
</ion-view>