<ion-view title="Home" id="page5">
  <ion-content padding="true" style="background: url(img/p4VB0yaSjO4RKaVsp9le_menu2.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/DxBsDzBHR32wL8pwKfcS__.png" style="display: block; width: 10%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/yqguHITZQEe20nyeZy9W_tuerca.png" style="display: block; width: 10%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 86px;"></div>
    <div>
      <img src="img/ucTan5CT2uBDY9wPZOkn_Logo-Negro1024x1024.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="home-button2" style="font-size:17px;border-radius:50px 50px 50px 50px;" class="button button-dark button-large">S2R</button>
    <button id="home-button4" style="border-radius:50px 50px 50px 50px;" class="button button-dark button-large"></button>
    <button id="home-button5" style="font-size:-3px;border-radius:50px 50px 50px 50px;" class="button button-dark button-large"></button>
    <h5 id="home-heading2" style="color:#FFFFFF;font-weight:400;">Seguridad</h5>
    <h5 id="home-heading3" style="color:#FFFFFF;font-weight:400;">Nuevo destino</h5>
    <h5 id="home-heading4" style="color:#FFFFFF;font-weight:400;">Descubrir destinos</h5>
    <div>
      <img src="img/jxmzJg70TDmEqbu6VPAB_banner.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="home-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#fff;font-size:10px;">Todos los derechos reservados IMPI 2016, http://ridesafeapp.net</p>
    </div>
  </ion-content>
</ion-view>