<ion-view title="Home" hide-nav-bar="true" hide-back-button="true" id="page5">
  <ion-content padding="true" style="background: url(img/p4VB0yaSjO4RKaVsp9le_menu2.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div>
      <a style="display:block;" ui-sref="manual">
        <img src="img/DxBsDzBHR32wL8pwKfcS__.png" style="display: inline; width: 15px; height: auto; margin-left: auto; margin-right: auto; float: left;">
      </a>
      <img src="img/yqguHITZQEe20nyeZy9W_tuerca.png" style="display: inline; width: 20px; height: auto; margin-left: auto; margin-right: auto; float: right;">
    </div>
    <div class="spacer" style="width: 300px; height: 86px;"></div>
    <div>
      <img src="img/ucTan5CT2uBDY9wPZOkn_Logo-Negro1024x1024.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="sR2Protection" id="home-button2" style="font-size:17px;border-radius:50px 50px 50px 50px;" class="button button-dark button-large">S2R</a>
    <a ui-sref="preRutas" id="home-button4" style="border-radius:50px 50px 50px 50px;" class="button button-dark button-large &quot;thicker-border&quot;"></a>
    <a ui-sref="descubrirRuta" id="home-button5" style="font-size:-3px;border-radius:50px 50px 50px 50px;" class="button button-dark button-large thicker-border"></a>
    <h5 id="home-heading2" style="color:#FFFFFF;font-weight:400;">Seguridad</h5>
    <h5 id="home-heading3" style="color:#FFFFFF;font-weight:400;">Nuevo destino</h5>
    <h5 id="home-heading4" style="color:#FFFFFF;font-weight:400;">Descubrir destinos</h5>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="home-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="home-slide24" style="background:url(&quot;img/BflVwMH9RYNV6DDb9hcx_banner.png&quot;) no-repeat center;background-size:cover;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="home-slide25" style="background:url(&quot;img/OYnsPemrS1mbnfSHgWI7_banner.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="home-slide26" style="background:url(&quot;img/cZtok7MIQdA2GedHE39t_banner.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="home-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#fff;font-size:10px;">Todos los derechos reservados IMPI 2016, http://ridesafeapp.net</p>
    </div>
  </ion-content>
</ion-view>
