<ion-view title="Manual" id="page6">
  <ion-content padding="true" style="background: url(img/5GI3S0VyQSCDZtY5k2Xz_manual.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="manual-container1">
      <div>
        <img src="img/reegfEKWRYuwSCSwLZDJ_cerrar.png" style="display: block; width: 10%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="manual-heading5" style="color:#000000;">MANUAL DE USUARIO</h3>
      <div id="manual-markdown5" class="show-list-numbers-and-dots">
        <p style="color:#000000;">En esta sección</p>
      </div>
    </div>
  </ion-content>
</ion-view>