<ion-view title="Menu items" id="page14">
  <ion-content padding="true" class="has-header">
    <div id="menuItems-container10">
      <div>
        <img src="img/p3GBdR3cTSO34ZFHFMt2_tuerca.png" style="display: block; width: 10%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div>
        <img src="img/HSCOn4WWREaBLb6xH4YT_foto-perfil.png" style="display: block; width: 15%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="menuItems-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Andrea del Sol Castro Díaz</p>
      </div>
      <form id="menuItems-form5" class="list">
        <label class="item item-input" id="menuItems-input3">
          <span class="input-label">Input</span>
          <input type="text" placeholder="">
        </label>
      </form>
    </div>
    <div id="menuItems-container13">
      <div>
        <img src="img/bLsWFoNLTkSLQNdFmX8h_Mis-rutas.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="menuItems-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Mis rutas</p>
      </div>
    </div>
    <div id="menuItems-container14">
      <div>
        <img src="img/GJUecCLgTdmqnDQgmc7X_grabarruta.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="menuItems-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Grabar ruta</p>
      </div>
    </div>
    <div id="menuItems-container15">
      <div>
        <img src="img/H2eu5SdMQ5O6T25zX1uD_s2r.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="menuItems-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">S2R</p>
      </div>
    </div>
  </ion-content>
</ion-view>