<ion-view title="Mis rutas" hide-nav-bar="true" hide-back-button="true" id="page9">
  <ion-content padding="true" style="background: url(img/aSwoFgbHQYqiSECYiFms_misrutas.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="misRutas-container7">
      <div>
        <a style="display:block;" ui-sref="nuevaRuta">
          <img src="img/kOAj2f1RQpqbHAeT1VVM_cerrar.png" style="display: block; width: 10%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <h3 id="misRutas-heading9" style="color:#FFFFFF;font-weight:400;">RUTAS GUARDADAS</h3>
      <div>
        <p>
        </p>
        <hr>
        <p></p>
      </div>
      <h5 id="misRutas-heading10" style="color:#fff;font-weight:400;text-align:center;">Resultados</h5>
      <div class="spacer" style="width: 300px; height: 116px;"></div>
      <div>
        <p>
        </p>
        <hr>
        <p></p>
      </div>
      <h5 id="misRutas-heading11" style="color:#FFFFFF;font-weight:400;text-align:center;">Detalles del viaje</h5>
      <div class="spacer" style="width: 300px; height: 116px;"></div>
    </div>
    <div id="misRutas-button-bar5" class="button-bar">
      <button id="misRutas-button19" class="button button-dark  button-block">Cancelar</button>
      <button id="misRutas-button26" class="button button-balanced  button-block">A rodar!</button>
    </div>
  </ion-content>
</ion-view>