<ion-view title="Nueva Ruta" id="page8">
  <ion-content padding="true" class="has-header">
    <button id="nuevaRuta-button27" style="border-radius:50px 50px 50px 50px;" class="button button-positive">!</button>
    <div id="nuevaRuta-button-bar2" class="button-bar">
      <button id="nuevaRuta-button20" class="button button-positive  button-block icon ion-ios-search-strong"></button>
      <button id="nuevaRuta-button21" class="button button-positive  button-block">Buenas tardes!</button>
      <a ui-sref="sR2Protection" id="nuevaRuta-button22" class="button button-positive  button-block">S2R</a>
    </div>
    <div id="nuevaRuta-button-bar3" class="button-bar">
      <button id="nuevaRuta-button23" class="button button-dark  button-block">Cancelar</button>
      <button id="nuevaRuta-button25" class="button button-balanced  button-block">A rodar!</button>
    </div>
  </ion-content>
</ion-view>