<ion-view title="Pre rutas" hide-nav-bar="true" hide-back-button="true" id="page12">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="preRutas-container9">
      <div>
        <a style="display:block;" ui-sref="home">
          <img src="img/RqaCs7ZoS9SeVKQZA5LM_cerrar.png" style="display: block; width: 10%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div id="preRutas-markdown7" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Puedes mover los punteros arrastrándolos con tu dedo</p>
      </div>
      <div>
        <img src="img/rkuqClj8Q1Kg5TtcQ2UY_manos2.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="preRutas-markdown8" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Puedes agrandar o hacer mas pequeño el mapa para ubicar con más precisión</p>
      </div>
      <div>
        <img src="img/2OauLRM2ReWOwua9AF5j_manos1.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <a ui-sref="nuevaRuta" id="preRutas-button29" style="border-radius:8px 8px 8px 8px;" class="button button-dark">OK</a>
    </div>
  </ion-content>
</ion-view>