<ion-view title="SR2 Protection" hide-nav-bar="true" hide-back-button="true" id="page7">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="sR2Protection-container3">
      <div>
        <a style="display:block;" ui-sref="home">
          <img src="img/zFpREns5SNWjkUyIXrN4_cerrar.png" style="display: block; width: 10%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <h3 id="sR2Protection-heading6" style="color:#000000;font-weight:300;text-align:center;">S2R PROTECTION</h3>
    </div>
    <form id="sR2Protection-form2" class="list">
      <ion-toggle toggle-class="toggle-balanced" id="sR2Protection-toggle1">Impactos y caídas</ion-toggle>
      <button id="sR2Protection-button12" style="font-size:9px;" class="button button-positive  button-clear">Configurar</button>
      <ion-toggle toggle-class="toggle-balanced" id="sR2Protection-toggle2">Desvio de ruta</ion-toggle>
      <button id="sR2Protection-button13" style="font-size:9px;" class="button button-positive  button-clear">Configurar</button>
      <ion-toggle toggle-class="toggle-balanced" id="sR2Protection-toggle3">Avisos de riesgo</ion-toggle>
      <button id="sR2Protection-button14" style="font-size:9px;" class="button button-positive  button-clear">Configurar</button>
      <ion-toggle toggle-class="toggle-positive" id="sR2Protection-toggle4">Live tracking</ion-toggle>
      <button id="sR2Protection-button15" style="font-size:9px;" class="button button-positive  button-clear">Configurar</button>
      <ion-toggle toggle-class="toggle-positive" id="sR2Protection-toggle5">Modo caravana</ion-toggle>
      <button id="sR2Protection-button16" style="font-size:9px;" class="button button-positive  button-clear">Configurar</button>
      <ion-toggle toggle-class="toggle-positive" id="sR2Protection-toggle6">Hermano en peligro</ion-toggle>
    </form>
    <div id="sR2Protection-button-bar1" class="button-bar">
      <button id="sR2Protection-button9" class="button button-stable  button-block">Cancelar</button>
      <button id="sR2Protection-button11" class="button button-balanced  button-block">Guardar</button>
    </div>
  </ion-content>
</ion-view>