<ion-view title="Caravana" hide-nav-bar="true" id="caravana-destination-page">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div class="title-container">
      <div class="spacer"></div>
      <h4 id="heading">Elegir Destino</h4>
    </div>
    <div class="caravana-container">
      <button ui-sref="menu.caravanaDiscoverRoute" class="button button-positive">Descubrir Rutas</button>
      <button ui-sref="menu.caravanaCreateRoute" class="button button-positive">Seleccionar Ruta</button>
    </div>
    <div class="caravana-footer row">
      <button ui-sref="menu.caravana" class="col button button-dark button-large cancel-button">Atras</button>
      <!--<button ng-click="sendInvitations()" class="col button button-balanced button-large go-button">Finaliazar</button>-->
    </div>

  </ion-content>
</ion-view>