<ion-view title="accident-alert" hide-nav-bar="true" id="page13" style="background-color:#3B3C3A;">
  <ion-content padding="false" class="manual-ios-statusbar-padding full-height" style="margin-bottom: -4%;">
    <div style="height:10%;">
      <button id="accidentAlert-button20" ui-sref="onRoute" style="color:#FFFFFF; padding-right: 20px; margin:0; width: 20px; position: absolute; right: 0; height: 10%;" class="button button-light  button-block button-clear icon-right ion-android-cancel"></button>
    </div>
    <div id="accidentAlert-container19" style="height: 25%;" class="bottom-border">
      <h3 id="accidentAlert-heading14" style="color:#FFFFFF;font-weight:400;text-align:center; font-family: 'Avenir-roman';">ACCIDENTE</h3>
      <div>
        <img src="img/BAud17K7QMazAZvjuoCJ_accidente.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto; padding: 10px;">
      </div>
    </div>
    <ion-list id="accidentAlert-list12" class="half-height">
      <ion-item class="item-thumbnail-left gray-bg alert-item" id="accidentAlert-list-item24">
        <img src="img/5JJqnJo1Q7h6AhxYYPgk_accidente-ligero.png" class="center-img">
        <h2>Ligero</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left gray-bg alert-item" id="accidentAlert-list-item25">
        <img src="img/QHwAAntT36RwOvY1pNdQ_accidente-severo.png" class="center-img">
        <h2>Severo</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left gray-bg alert-item" id="accidentAlert-list-item26">
        <img src="img/naPOD3uvTQUkGdpknOI9_accidente-otro-sentido.png" class="center-img">
        <h2>El otro lado</h2>
      </ion-item>
    </ion-list>
    <div style="margin-right:-20px; height:13%;">
      <button id="accidentAlert-button21" style="left:-10px;border-radius:0px 0px 0px 0px; margin:0; border:none; height:100%;" class="button button-calm button-large button-full">¡Alertar!</button>
    </div>
  </ion-content>
</ion-view>
