<ion-view title="ad" hide-nav-bar="true" id="ad">
  <ion-content id="ad" padding="false" style="margin-bottom: 0px;" class="manual-ios-statusbar-" scroll="true">
    <div class="title-container">
      <div class="spacer" style="width: 300px; height: 40%;"></div>
      <h4 id="discover-heading7" style="font-family: arial;">Conoce el producto</h4>
    </div>
    <div ng-model="image" class="image-ad"><img src="https://dummyimage.com/320x400/000/fff" /></div>
    <div class="title-ad"><p style="float: left; width: 50%;">Testa</p><p style="float: right; width: 50%; text-align: right;">Test2</p></div>
    <div ng-model="description" class="description-ad">{{ description }}</div>
  </ion-content>
  <div class="fixed-outside">
    <button ui-sref="ads" style="left:0px;font-size:20px; margin:0; height:10vh;" class="button button-dark  button-full">Cancelar</button>
  </div>
</ion-view>
