<ion-view title="closed-alert" hide-nav-bar="true" id="page20" style="background-color:#3B3C3A;">
  <ion-content padding="false" class="manual-ios-statusbar-paddingfull-height" style="margin-bottom: -4%;">
    <div style="height:10%;">
      <button id="closedAlert-button29" ui-sref="menu.home" style="color:#FFFFFF; padding-right: 20px; margin:0; width: 20px; position: absolute; right: 0; height: 10%;" class="button button-light  button-block button-clear icon-right ion-android-cancel"></button>
    </div>
    <div id="closedAlert-container21" style="height: 8%;">
      <h3 id="closedAlert-heading16" style="color:#FFFFFF;font-weight:400;text-align:center; font-family: 'Avenir-roman';">CIERRES</h3>
    </div>
    <creator-map-component options="{&quot;disableDefaultUI&quot;:true}" marker="true" location="Madison Capital" zoom="12" style="display:block;position:relative;margin-left:-10px;width:calc(100% + 20px);height:70%;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
    <div style="margin-right:-20px; height:10%;">
      <button id="closedAlert-button30" style="left:-10px;border-radius:0px 0px 0px 0px; margin:0; height: 100%;" class="button button-calm button-large button-full">¡Alertar!</button>
    </div>
  </ion-content>
</ion-view>
