<ion-view title="config" hide-nav-bar="true" hide-back-button="true">
	<ion-content padding="false" class="manual-ios-statusbar-padding">
    <div>
  		<ul class="tab-navigation">
    		<li ng-class="{'active': activeTab != 2}">
      		<a href="#" ng-click="activeTab=1">Personal</a>
    		</li>
    		<li ng-class="{'active': activeTab == 2}">
      		<a href="#" ng-click="activeTab=2">Motocicleta</a>
    		</li>
  		</ul>
      <div class="tab-content" ng-class="{'active': activeTab != 2}">
        <h3 id="userRegister-heading1" style="color:#FFFFFF;text-align:center;">REGISTRO</h3>
        <form id="userRegister-form4" class="list">
          <label class="item item-input item-floating-label no-border register-input" id="userRegister-input6" name="name">
            <span class="input-label">Nombre(s)</span>
            <input type="text" placeholder="Nombre(s)">
          </label>
          <label class="item item-input item-floating-label register-input no-border col-5" id="userRegister-input7" name="lastname1">
            <span class="input-label">Apellido paterno</span>
            <input type="text" placeholder="Apellido paterno">
          </label>
          <label class="item item-input item-floating-label register-input no-border col-5" id="userRegister-input8" name="lastname2">
            <span class="input-label">Apellido materno</span>
            <input type="text" placeholder="Apellido materno">
          </label>
          <label class="item item-select black-font col-4 select-item" id="userRegister-select3" name="gender">
            <span class="input-label">Género</span>
            <select>
              <option>Femenino</option>
              <option>Masculino</option>
            </select>
          </label>
          <label class="item item-input item-floating-label register-input no-border col-5" id="userRegister-input9" name="phone">
            <span class="input-label">Celular</span>
            <input type="tel" placeholder="Celular">
          </label>
          <label class="item item-input item-stacked-label no-border register-input" id="userRegister-input10" name="birthdate">
            <span class="input-label">Fecha de nacimiento</span>
            <input type="date" placeholder="Fecha de nacimiento">
          </label>
          <label class="item item-input item-floating-label no-border register-input" id="userRegister-input11" name="emergency-number">
            <span class="input-label">Telefono de emergencia</span>
            <input type="tel" placeholder="Telefono de emergencia">
          </label>
          <label class="item item-select black-font col-4 select-item" id="userRegister-select4" name="state">
            <span class="input-label">Estado</span>
            <select></select>
          </label>
          <label class="item item-select black-font col-4 select-item" id="userRegister-select5" name="city">
            <span class="input-label">Ciudad</span>
            <select></select>
          </label>
          <label class="item item-input item-stacked-label no-border" id="userRegister-input12" name="mail">
            <span class="input-label">Usuario (e-mail)</span>
            <input type="email" placeholder="">
          </label>
          <label class="item item-input item-stacked-label no-border" id="userRegister-input14" name="mail">
            <span class="input-label">Contraseña</span>
            <input type="password" placeholder="">
          </label>
          <label class="item item-input item-stacked-label no-border" id="userRegister-input15" name="mail">
            <span class="input-label">Repetir contraseña</span>
            <input type="password" placeholder="">
          </label>
          <button id="config-user-cancel" style="border-radius:8px 8px 8px 8px; width: 49%;" class="button button-stable  button-inline">MÉNU</button>
          <button id="config-user-save" style="border-radius:8px 8px 8px 8px; width: 49%;" class="button button-balanced  button-inline">GUARDAR</button>
        </form>
      </div>

      <div class="tab-content" ng-class="{'active': activeTab == 2}">
        <h3 id="motoRegister-heading3" style="color:#FFFFFF;text-align:center;">REGISTRA TU MOTOCICLETA</h3>
        <form id="motoRegister-form5" class="list">
          <label class="item item-select black-font" id="motoRegister-select9" name="moto-brand">
            <span class="input-label">Marca de motocicleta</span>
            <select></select>
          </label>
          <label class="item item-select black-font col-5" id="motoRegister-select10">
            <span class="input-label">Modelo</span>
            <select></select>
          </label>
          <label class="item item-select black-font col-5" id="motoRegister-select11">
            <span class="input-label">Año</span>
            <select></select>
          </label>
          <label class="item item-input item-floating-label register-input no-border" id="motoRegister-input24">
            <span class="input-label">Placas</span>
            <input type="number" placeholder="Placas">
          </label>
          <h5 id="motoRegister-heading4" style="color:#fff;text-align:center;">¿Qué uso le das a tu motocicleta</h5>
          <ion-checkbox id="motoRegister-checkbox1" class="col-5">Ciudad</ion-checkbox>
          <ion-checkbox id="motoRegister-checkbox2" class="col-5">Atv off road</ion-checkbox>
          <ion-checkbox id="motoRegister-checkbox3" class="col-5">Touring</ion-checkbox>
          <ion-checkbox id="motoRegister-checkbox4" class="col-5">De trabajo</ion-checkbox>
          <ion-checkbox id="motoRegister-checkbox5" class="col-5">Circuitos</ion-checkbox>
          <ion-checkbox id="motoRegister-checkbox6" class="col-5">Enduro</ion-checkbox>
          <ion-checkbox id="motoRegister-checkbox7" class="col-5">Stunt</ion-checkbox>
          <ion-checkbox id="motoRegister-checkbox8" class="col-5">Carretera esporádica</ion-checkbox>
          <ion-checkbox id="motoRegister-checkbox9" class="col-5">Otro ¿cual?</ion-checkbox>
          <label class="item item-input item-floating-label register-input col-5 no-border" id="motoRegister-input25">
            <span class="input-label">Input</span>
            <input type="text" placeholder="">
          </label>
          <button id="config-moto-cancel" style="border-radius:8px 8px 8px 8px; width: 49%;" class="button button-stable  button-inline">MÉNU</button>
          <button id="config-moto-save" style="border-radius:8px 8px 8px 8px; width: 49%;" class="button button-balanced  button-inline">GUARDAR</button>
        </form>

      </div>
    </div>
	</ion-content>
</ion-view>
