<ion-view title="danger-alert" hide-nav-bar="true" id="page19" style="background-color:#3B3C3A;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <button id="dangerAlert-button22" style="color:#FFFFFF;" class="button button-light  button-clear icon ion-android-cancel"></button>
    <div id="dangerAlert-container20">
      <h3 id="dangerAlert-heading15" style="color:#FFFFFF;font-weight:400;text-align:center;">PELIGRO</h3>
      <div>
        <img src="img/FD4WWa7DT5a594vHNYMx_peligro.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <ion-list id="dangerAlert-list13">
      <ion-item class="item-thumbnail-left" id="dangerAlert-list-item27">
        <img src="img/pvVByfgvRasq4MfKoU1w_peligro-en-la-via.png">
        <h2>En ruta</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="dangerAlert-list-item28">
        <img src="img/wJBXmEvWTdMbbYUg1Nzz_peligro-acotamiento.png">
        <h2>Acotamiento</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="dangerAlert-list-item29">
        <img src="img/S8Tat7vUT3SNToRRFMMN_accidente-clima.png">
        <h2>Clima</h2>
      </ion-item>
    </ion-list>
    <div style="margin-right:-20px;">
      <button id="dangerAlert-button24" style="left:-10px;border-radius:0px 0px 0px 0px;" class="button button-calm button-large button-full">¡Alertar!</button>
    </div>
  </ion-content>
</ion-view>