<ion-view title="discover" hide-nav-bar="true" id="page14">
  <ion-content padding="false" class="manual-ios-statusbar-padding" style="margin-bottom: -5px;">
    <div class="title-container">
      <div class="spacer" style="width: 300px; height: 40%;"></div>
      <h4 id="discover-heading7">DESCUBRE RUTAS</h4>
    </div>
    <div id="selects-container" style="height: 50vh;">
      <div id="discover-container3" class="background-blue input-box" style="float:left; border-top: 4px solid #fff; border-left: none;">
        <div id="discover-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
          <h5>Elegir estado</h5>
        </div>
        <form id="discover-form12" class="list">
          <label class="item item-select" id="discover-select12" name="discover-state">
            <select class="input-label select-input">
              <option value="" selected="selected" disabled hidden>Seleccionar</option>
            </select>
          </label>
        </form>
      </div>
      <div id="discover-container4" class="background-odd input-box" style="float:right; border-top: 4px solid #fff; border-right: none;">
        <div id="discover-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
          <h5>Temática</h5>
        </div>
        <form id="discover-form13" class="list">
          <label class="item item-select" id="discover-select13" name="discover-state">
            <select class="select-input">
              <option value="" selected="selected" disabled hidden>Seleccionar</option>
            </select>
          </label>
        </form>
      </div>
      <div id="discover-container5" class="background-odd input-box" style="float:left; border-bottom: 4px solid #fff; border-left: none;">
        <div id="discover-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
          <h5>Concentraciones</h5>
        </div>
        <form id="discover-form14" class="list">
          <label class="item item-select" id="discover-select14" name="discover-state">
            <select class="select-input">
              <option value="" selected="selected" disabled hidden>Seleccionar</option>
            </select>
          </label>
        </form>
      </div>
      <div id="discover-container6" class="background-blue input-box"  style="float:right; border-bottom: 4px solid #fff; border-right: none;">
        <div id="discover-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
          <h5>Pistas de carreras</h5>
        </div>
        <form id="discover-form15" class="list">
          <label class="item item-select" id="discover-select15" name="discover-state">
            <select class="select-input">
              <option value="" selected="selected" disabled hidden>Seleccionar</option>
            </select>
          </label>
        </form>
      </div>

    </div>
    <div id="discover_results" class="background-odd">
      <div id="discover-markdown8" style="text-align:center;" class="show-list-numbers-and-dots underlined">
        <h5 id="discover_results">
          <strong>RESULTADOS</strong>
        </p>
      </div>
      <div class="spacer" style="height: 100px;"></div>
    </div>
    <div class="bottom-buttons">
      <button ui-sref="menu.home" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-large col-5 cancel-button">Cancelar</button>
      <button style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-large col-5 go-button">A rodar!</button>
    </div>
  </ion-content>
</ion-view>
