<ion-view title="home" hide-nav-bar="true" id="page1" class="translucid">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <button menu-toggle="left" style="border-radius:25px 25px 25px 25px;" class="button button-positive home-button icon ion-android-menu"></button>
    <form id="home-form9" class="list">
      <label class="item item-input" id="home-input27" name="origin">
        <span style="width: 15%; font-size: 12px;"><i class="icon ion-record calm"></i></span>
        <input type="text" placeholder="Origen de ruta">
      </label>
      <label class="item item-input" id="home-input28" name="origin">
        <span style="width: 15%; font-size: 16px;"><i class="icon ion-android-search"></i></span>
        <input type="text" placeholder="Destino">
      </label>
    </form>
    <creator-map-component options="{&quot;disableDefaultUI&quot;:true}" marker="true" location="ciudad de mexico" zoom="12" style="display:block;position:relative;margin-left:-10px;width:calc(100% + 20px);height:91%;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
    <input type="checkbox" id="nav-trigger" class="nav-trigger">
    <label for="nav-trigger" style="margin-top: -50px;">!</label>
    <ul class="navigation">
      <li class="nav-item">
        <a href="#">¡ALERTAS!</a>
      </li>
      <li class="nav-item item-avatar">
        <img src="img/kd9ajAu2RyGZ6nL6cFYr_cono.png">
        <a href="#">Portfolio</a>
      </li>
      <li class="nav-item">
        <a href="#">About</a>
      </li>
      <li class="nav-item">
        <a href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a href="#">Contact</a>
      </li>
    </ul>
    <div style="margin-right:-20px;">
      <button id="home-button12" style="left:-10px;border-radius:0px 0px 0px 0px; margin: 0px;" class="button button-balanced button-large button-full">A rodar!</button>
    </div>
  </ion-content>
</ion-view>
