<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
      <div id="menu-container1">
        <a ui-sref="config" menu-close="" id="menu-button17" class="button button-positive menu-icon icon ion-android-settings"></a>
        <a ui-sref="menu.userManual" menu-close="" id="menu-button16" class="button button-positive menu-icon icon ion-help"></a>
        <div class="user-img-container">
          <a class="user_image">
            <!-- the user image is a background style in custom.app.css -->
            <!-- To remove the text please add the "hidden-text" class -->
            <p id="picture_text">AÑADIR<br>UNA<br>FOTO</p>
          </a>
        </div>
        <div id="user_name" style="text-align:center;" class="show-list-numbers-and-dots">
          <p>Andrea del Sol Castro Diaz</p>
        </div>
        <form id="menu-form11" class="list">
          <label class="item item-input" id="menu-search2">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="">
          </label>
        </form>
      </div>
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left menu-list-item" id="menu-list-item1" ui-sref="menu.discover" menu-close="">
          <i class="icon"><img src="img/descubrir-destinos.png" alt=""></i>Descubrir destinos</ion-item>
        <ion-item class="item-icon-left  menu-list-item background-odd" id="menu-list-item2" ui-sref="menu.myRoutes" menu-close="">
          <i class="icon"><img src="img/rutas-guardadas.png" alt=""></i>Mis rutas guardadas</ion-item>
        <ion-item class="item-icon-left  menu-list-item" id="menu-list-item3" ui-sref="#" menu-close="">
          <i class="icon"><img src="img/caravana.png" alt=""></i>Caravana</ion-item>
        <ion-item class="item-icon-left  menu-list-item background-odd" id="menu-list-item4" ui-sref="menu.sp2" menu-close="">
          <i class="icon"><img src="img/s2r.png" alt=""></i>S2P (Secure 2 Protection)</ion-item>
        <ion-item class="item-icon-left menu-list-item" id="menu-list-item5" ui-sref="menu.login" menu-close="">
          <i class="icon"><img src="img/standby.png" alt="" style="padding: 7px;"></i>Cerrar sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
