<ion-view title="moto-register" hide-nav-bar="true" id="page10" style="background-color:#3B3C3A;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h3 id="motoRegister-heading3" style="color:#FFFFFF;text-align:center;">REGISTRA TU MOTOCICLETA</h3>
    <form id="motoRegister-form5" class="list">
      <label class="item item-select black-font" id="motoRegister-select9" name="moto-brand">
        <span class="input-label">Marca de motocicleta</span>
        <select></select>
      </label>
      <label class="item item-select black-font col-5" id="motoRegister-select10">
        <span class="input-label">Modelo</span>
        <select></select>
      </label>
      <label class="item item-select black-font col-5" id="motoRegister-select11">
        <span class="input-label">Año</span>
        <select></select>
      </label>
      <label class="item item-input item-floating-label register-input no-border" id="motoRegister-input24">
        <span class="input-label">Placas</span>
        <input type="number" placeholder="Placas">
      </label>
      <h5 id="motoRegister-heading4" style="color:#fff;text-align:center;">¿Qué uso le das a tu motocicleta</h5>
      <ion-checkbox id="motoRegister-checkbox1" class="col-5">Ciudad</ion-checkbox>
      <ion-checkbox id="motoRegister-checkbox2" class="col-5">Atv off road</ion-checkbox>
      <ion-checkbox id="motoRegister-checkbox3" class="col-5">Touring</ion-checkbox>
      <ion-checkbox id="motoRegister-checkbox4" class="col-5">De trabajo</ion-checkbox>
      <ion-checkbox id="motoRegister-checkbox5" class="col-5">Circuitos</ion-checkbox>
      <ion-checkbox id="motoRegister-checkbox6" class="col-5">Enduro</ion-checkbox>
      <ion-checkbox id="motoRegister-checkbox7" class="col-5">Stunt</ion-checkbox>
      <ion-checkbox id="motoRegister-checkbox8" class="col-5">Carretera esporádica</ion-checkbox>
      <ion-checkbox id="motoRegister-checkbox9" class="col-5">Otro ¿cual?</ion-checkbox>
      <label class="item item-input item-floating-label register-input col-5 no-border" id="motoRegister-input25">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <button id="motoRegister-button7" style="border-radius:8px 8px 8px 8px;" class="button button-stable  button-block col-5">REGRESAR</button>
    </form>
    <button id="motoRegister-button9" style="border-radius:8px 8px 8px 8px;" class="button button-balanced  button-block col-5">REGISTRARME</button>
  </ion-content>
</ion-view>