<ion-view title="my-routes" hide-nav-bar="true" id="page2">
  <ion-content padding="true" style="background: url(img/wnd4mmXJQPiYXU7RxGtF_misrutas.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="myRoutes-container8">
      <h3 id="myRoutes-heading8" style="color:#FFFFFF;text-align:center;">RUTAS GUARDADAS</h3>
      <hr style="height: 3px; background: #fff;">
      <div id="myRoutes-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;">
          <strong>Resultados</strong>
        </p>
      </div>
      <ion-list id="myRoutes-list3">
        <ion-item id="myRoutes-list-item11">Guanajuato</ion-item>
        <ion-item id="myRoutes-list-item12">Ixtapa</ion-item>
      </ion-list>
      <hr style="height: 3px; background: #fff;">
      <div id="myRoutes-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;">
          <strong>Detalles de viaje</strong>
        </p>
      </div>
      <ion-list id="myRoutes-list5">
        <ion-item class="item-thumbnail-left" id="myRoutes-list-item15">
          <p>Tiempo total del viaje: 190min</p>
        </ion-item>
      </ion-list>
    </div>
    <div id="myRoutes-button-bar1" class="button-bar">
      <button id="myRoutes-button23" class="button button-dark  button-block">Cancelar</button>
      <button id="myRoutes-button25" class="button button-balanced  button-block">A rodar!</button>
    </div>
  </ion-content>
</ion-view>