<ion-view title="police-alert" hide-nav-bar="true" id="page12" style="background-color:#3B3C3A;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <button id="policeAlert-button14" ui-sref="menu.home" style="color:#FFFFFF;" class="button button-light  button-block button-clear icon-right ion-android-cancel"></button>
    <div id="policeAlert-container18">
      <h3 id="policeAlert-heading13" style="color:#FFFFFF;font-weight:400;text-align:center;">POLICÍA</h3>
      <div>
        <img src="img/xFKBKZkxR16JYDxxYK9O_policia.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <ion-list id="policeAlert-list11">
      <ion-item class="item-thumbnail-left" id="policeAlert-list-item21">
        <img src="img/8nyLd6QJyAVnpvWmPgCg_policia-a-la-vista.png">
        <h2>A la vista</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="policeAlert-list-item22">
        <img src="img/d6d5sVf5Q82sakkS9kKm_policia-oculto.png">
        <h2>Oculto</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="policeAlert-list-item23">
        <img src="img/2G2zWh9FRgqhCocWl7AM_policia-otro-sentido.png">
        <h2>Otro sentido</h2>
      </ion-item>
    </ion-list>
    <div style="margin-right:-20px;">
      <button id="policeAlert-button15" style="left:-10px;border-radius:0px 0px 0px 0px;" class="button button-calm button-large button-full">¡Alertar!</button>
    </div>
  </ion-content>
</ion-view>
