<ion-view title="police-alert" hide-nav-bar="true" id="page12" style="background-color:#3B3C3A;">
  <ion-content padding="false" class="manual-ios-statusbar-padding full-height" style="margin-bottom: -4%;">
    <div style="height:10%;">
      <button id="policeAlert-button14" ui-sref="menu.home" style="color:#FFFFFF; padding-right: 20px; margin:0; width: 20px; position: absolute; right: 0; height: 10%;" class="button button-light  button-block button-clear icon-right ion-android-cancel"></button>
    </div>
    <div id="policeAlert-container18" style="height: 25%;" class="bottom-border">
      <h3 id="policeAlert-heading13" style="color:#FFFFFF;font-weight:400;text-align:center; font-family: 'Avenir-roman';">POLICÍA</h3>
      <div>
        <img src="img/xFKBKZkxR16JYDxxYK9O_policia.png" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto; padding: 10px;">
      </div>
    </div>
    <ion-list id="policeAlert-list11" class="half-height">
      <ion-item class="item-thumbnail-left gray-bg alert-item" id="policeAlert-list-item21">
        <img src="img/8nyLd6QJyAVnpvWmPgCg_policia-a-la-vista.png" class="center-img">
        <h2>A la vista</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left gray-bg alert-item" id="policeAlert-list-item22">
        <img src="img/d6d5sVf5Q82sakkS9kKm_policia-oculto.png" class="center-img">
        <h2>Oculto</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left gray-bg alert-item" id="policeAlert-list-item23">
        <img src="img/2G2zWh9FRgqhCocWl7AM_policia-otro-sentido.png" class="center-img">
        <h2>Otro sentido</h2>
      </ion-item>
    </ion-list>
    <div style="margin-right:-20px; height:13%;">
      <button id="policeAlert-button15" style="left:-10px;border-radius:0px 0px 0px 0px; margin:0; border:none; height:100%;" class="button button-calm button-large button-full">¡Alertar!</button>
    </div>
  </ion-content>
</ion-view>
