<ion-view title="right-menu" hide-nav-bar="true" id="page15" style="background-color:#223D75;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="rightMenu-container16">
      <h3 id="rightMenu-heading11" style="color:#fff;text-align:center;">¡ALERTAS!</h3>
    </div>
    <ion-list id="rightMenu-list7">
      <ion-item class="item-avatar" id="rightMenu-list-item6">
        <img src="img/kd9ajAu2RyGZ6nL6cFYr_cono.png">
        <h2>Tráfico</h2>
      </ion-item>
      <ion-item class="item-avatar" id="rightMenu-list-item7">
        <img src="img/KknK8IW8RGOIr4j5o75W_policia.png">
        <h2>Policía</h2>
      </ion-item>
      <ion-item class="item-avatar" id="rightMenu-list-item8">
        <img src="img/4ozhParQtW7oP2Q9yBXZ_accidente.png" style="width: 20px;">
        <h2>Accidente</h2>
      </ion-item>
      <ion-item class="item-avatar" id="rightMenu-list-item9">
        <img src="img/Zf3qdVorSj2c5nP4jCWL_cierre.png">
        <h2>Cierres</h2>
      </ion-item>
      <ion-item class="item-avatar" id="rightMenu-list-item10">
        <img src="img/fAqInCCS2SiuMtnPV1KK_peligro.png">
        <h2>Peligros</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
