<ion-view title="sp2" hide-nav-bar="true" id="page16">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="sp2-container9">
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <h3 id="sp2-heading9" style="color:#000000;text-align:center;">S2P</h3>
      <div id="sp2-markdown21" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">(Secure 2 Protection)</p>
      </div>
    </div>
    <div id="sp2-container10" class="col-5">
      <div id="sp2-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">impactos y caídas</p>
      </div>
      <form id="sp2-form23" class="list">
        <ion-toggle toggle-class="toggle-balanced" id="sp2-toggle4"></ion-toggle>
        <div id="sp2-markdown16" style="text-align:right;" class="show-list-numbers-and-dots underlined">
          <p style="color:#000000;font-size:10px;">Configuración</p>
        </div>
      </form>
    </div>
    <div id="sp2-container11" class="col-5">
      <div id="sp2-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Desvio de rutas</p>
      </div>
      <form id="sp2-form22" class="list">
        <ion-toggle toggle-class="toggle-balanced" id="sp2-toggle3"></ion-toggle>
        <div id="sp2-markdown17" style="text-align:right;" class="show-list-numbers-and-dots underlined">
          <p style="color:#000000;font-size:10px;">Configuración</p>
        </div>
      </form>
    </div>
    <div id="sp2-container12" class="col-5">
      <div id="sp2-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Avisos de riesgo</p>
      </div>
      <form id="sp2-form20" class="list">
        <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="sp2-toggle1"></ion-toggle>
        <div id="sp2-markdown19" style="text-align:right;" class="show-list-numbers-and-dots underlined">
          <p style="color:#000000;font-size:10px;">Configuración</p>
        </div>
      </form>
    </div>
    <div id="sp2-container13" class="col-5">
      <div id="sp2-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">live tracking</p>
      </div>
      <form id="sp2-form21" class="list">
        <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="sp2-toggle2"></ion-toggle>
        <div id="sp2-markdown18" style="text-align:right;" class="show-list-numbers-and-dots underlined">
          <p style="color:#000000;font-size:10px;">Configuración</p>
        </div>
      </form>
    </div>
    <div id="sp2-container14">
      <div id="sp2-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Modo caravana</strong>
        </p>
      </div>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <form id="sp2-form25" class="list">
        <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="sp2-toggle6"></ion-toggle>
        <div id="sp2-markdown20" style="text-align:right;" class="show-list-numbers-and-dots underlined">
          <p style="color:#000000;font-size:10px;">Configuración</p>
        </div>
      </form>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
    </div>
    <button id="sp2-button26" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-large col-5">Cancelar</button>
    <button id="sp2-button27" style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-large col-5">Guardar</button>
  </ion-content>
</ion-view>