<ion-view title="sp2" hide-nav-bar="true" id="page16">
  <ion-content padding="false" class="manual-ios-statusbar-padding" style="margin-bottom: -5px;">
    <div class="title-container">
      <div class="spacer" style="width: 300px; height: 30%;"></div>
      <h4 id="sp2-heading9" style="color:#000000;text-align:center;">S2P</h4>
      <div id="sp2-markdown21" style="text-align:center;font-size: 14px; color: #fff;" class="show-list-numbers-and-dots">
        <p>(Secure 2 Protection)</p>
      </div>
    </div>
    <div id="protection-container" style="height: 50vh;">
      <div id="sp2-container10" class="background-blue input-box" style="float:left; border-top: 4px solid #fff; border-left: none;">
        <div id="sp2-markdown11" class="show-list-numbers-and-dots protection-titles">
          <p>impactos y caídas</p>
        </div>
        <form id="sp2-form23" class="list form-items">
          <p class="yes-tag">Si</p>
          <ion-toggle ng-model="pushNotiIC.checked" toggle-class="toggle-balanced" id="sp2-toggle4" class="secure-checkbox"></ion-toggle>
          <p class="no-tag">No</p>
          <div id="sp2-markdown16" style="text-align:right; margin: 40px 10% 0px 40%;" class="show-list-numbers-and-dots button button-dark button-small button-block button-clear">
            <p class="config-text">Configurar</p>
          </div>
        </form>
      </div>
      <div id="sp2-container11" class="background-odd input-box" style="float:right; border-top: 4px solid #fff; border-right: none;">
        <div id="sp2-markdown12" class="show-list-numbers-and-dots protection-titles">
          <p>Desvio de rutas</p>
        </div>
        <form id="sp2-form22" class="list form-items">
          <p class="yes-tag">Si</p>
          <ion-toggle ng-model="pushNotiDR.checked" toggle-class="toggle-balanced" id="sp2-toggle3" class="secure-checkbox"></ion-toggle>
          <p class="no-tag">No</p>
          <div id="sp2-markdown17" style="text-align:right; margin: 40px 10% 0px 40%;" class="show-list-numbers-and-dots button button-dark button-small button-block button-clear">
            <p class="config-text">Configurar</p>
          </div>
        </form>
      </div>
      <div id="sp2-container12" class="background-blue input-box" style="float:left; border-bottom: 4px solid #fff; border-left: none;">
        <div id="sp2-markdown13" class="show-list-numbers-and-dots protection-titles">
          <p>Avisos de riesgo</p>
        </div>
        <form id="sp2-form20" class="list form-items">
          <p class="yes-tag">Si</p>
          <ion-toggle ng-model="pushNotiAR.checked" toggle-class="toggle-balanced" ng-checked="true" id="sp2-toggle1" class="secure-checkbox"></ion-toggle>
          <p class="no-tag">No</p>
          <div id="sp2-markdown19" style="text-align:right; margin: 40px 10% 0px 40%;" class="show-list-numbers-and-dots button button-dark button-small button-block button-clear">
            <p class="config-text">Configurar</p>
          </div>
        </form>
      </div>
      <div id="sp2-container13" class="background-odd input-box" style="float:right; border-bottom: 4px solid #fff; border-right: none;">
        <div id="sp2-markdown14" class="show-list-numbers-and-dots protection-titles">
          <p>live tracking</p>
        </div>
        <form id="sp2-form21" class="list form-items">
          <p class="yes-tag">Si</p>
          <ion-toggle ng-model="pushNotiLT.checked" toggle-class="toggle-balanced" ng-checked="true" id="sp2-toggle2" class="secure-checkbox"></ion-toggle>
          <p class="no-tag">No</p>
          <div id="sp2-markdown18" style="text-align:right; margin: 40px 10% 0px 40%;" class="show-list-numbers-and-dots button button-dark button-small button-block button-clear">
            <p class="config-text">Configurar</p>
          </div>
        </form>
      </div>
    </div>
    <div id="caravan_container" class="background-odd" style="height: 25vh;">
      <div id="sp2-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="font-size: 20px; padding-top: 25px;">Modo caravana</p>
      </div>
      <form id="sp2-form25" class="list">
        <p class="yes-tag" style="font-size: 20px; margin-left: 25%;">Si</p>
        <ion-toggle ng-model="pushNotiMC.checked" toggle-class="toggle-balanced" ng-checked="true" id="sp2-toggle6" class="secure-checkbox" style="padding-left: 30%;"></ion-toggle>
        <p class="no-tag" style="font-size: 20px; margin-right: 25%;">No</p>
        <div id="sp2-markdown20" style="text-align:right; margin: 40px 20% 0px 55%;" class="show-list-numbers-and-dots button button-dark button-small button-block button-clear">
          <p class="config-text" style="font-size: 12px;">Configurar</p>
        </div>
      </form>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
    </div>
    <div class="bottom-buttons">
      <button ng-click="backS2R()" id="sp2-button26" style="border-radius:0px 0px 0px 0px;" class="button button-dark button-large col-5 cancel-button">Cancelar</button>
      <button ng-click="saveNoti()" id="sp2-button27" style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-large col-5 go-button">Guardar</button>
    </div>
  </ion-content>
</ion-view>
