<ion-view title="trafic-alert" hide-nav-bar="true" id="page18" style="background-color:#3B3C3A;">
  <ion-content padding="false" class="manual-ios-statusbar-padding full-height" style="margin-bottom: -4%;">
    <div style="height:10vh;">
      <button id="traficAlert-button10" ui-sref="onRoute" style="color:#FFFFFF; padding-right: 20px; margin:0;width: 20px; position: absolute; right: 0; height: 10vh;" class="button button-light  button-block button-clear icon-right ion-android-cancel"></button>
    </div>
    <div id="traficAlert-container17" style="height: 25vh;" class="bottom-border">
      <h3 id="traficAlert-heading12" style="color:#FFFFFF;font-weight:400;text-align:center; text-align: center; font-family: 'Avenir-roman';">TRÁFICO</h3>
      <div>
        <img src="img/wLQACw5CSzS8p1yK0qsm_cono.png" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto; padding: 10px;">
      </div>
    </div>
    <ion-list id="traficAlert-list10" class="half-height">
      <ion-item class="item-thumbnail-left gray-bg alert-item" id="traficAlert-list-item18">
        <img src="img/B2PdXuJQVungiEl9H6QA_trafico-regular.png" class="center-img">
        <h2>Regular</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left gray-bg alert-item" id="traficAlert-list-item19">
        <img src="img/kdsCDoOxRrutdII9GBrh_trafico-pesado.png" class="center-img">
        <h2>Pesado</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left gray-bg alert-item" id="traficAlert-list-item20">
        <img src="img/3yzKKmP8SlgYsA5J7oqg_trafico-detenido.png" class="center-img">
        <h2>Detenido</h2>
      </ion-item>
    </ion-list>
    <div style="margin-right:-20px; height:13vh;">
      <button id="traficAlert-button11" style="left:-10px;border-radius:0px 0px 0px 0px; margin:0; border:none; height:100%;" class="button button-calm button-large button-full">¡Alertar!</button>
    </div>
  </ion-content>
</ion-view>
