<ion-view title="trafic-alert" hide-nav-bar="true" id="page18" style="background-color:#3B3C3A;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <button id="traficAlert-button10" ui-sref="menu.home" style="color:#FFFFFF;" class="button button-light  button-clear icon ion-android-cancel"></button>
    <div id="traficAlert-container17">
      <h3 id="traficAlert-heading12" style="color:#FFFFFF;font-weight:400;text-align:center;">TRÁFICO</h3>
      <div>
        <img src="img/wLQACw5CSzS8p1yK0qsm_cono.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <ion-list id="traficAlert-list10">
      <ion-item class="item-thumbnail-left" id="traficAlert-list-item18">
        <img src="img/B2PdXuJQVungiEl9H6QA_trafico-regular.png">
        <h2>Regular</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="traficAlert-list-item19">
        <img src="img/kdsCDoOxRrutdII9GBrh_trafico-pesado.png">
        <h2>Pesado</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="traficAlert-list-item20">
        <img src="img/3yzKKmP8SlgYsA5J7oqg_trafico-detenido.png">
        <h2>Detenido</h2>
      </ion-item>
    </ion-list>
    <div style="margin-right:-20px;">
      <button id="traficAlert-button11" style="left:-10px;border-radius:0px 0px 0px 0px;" class="button button-calm button-large button-full">¡Alertar!</button>
    </div>
  </ion-content>
</ion-view>
