<ion-view title="user-register" hide-nav-bar="true" id="page8" style="background-color:#3B3C3A;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h3 id="userRegister-heading1" style="color:#FFFFFF;text-align:center;">REGISTRO</h3>
    <form id="userRegister-form4" class="list">
      <label class="item item-input item-floating-label no-border register-input" id="userRegister-input6" name="name">
        <span class="input-label">Nombre(s)</span>
        <input type="text" placeholder="Nombre(s)">
      </label>
      <label class="item item-input item-floating-label register-input no-border col-5" id="userRegister-input7" name="lastname1">
        <span class="input-label">Apellido paterno</span>
        <input type="text" placeholder="Apellido paterno">
      </label>
      <label class="item item-input item-floating-label register-input no-border col-5" id="userRegister-input8" name="lastname2">
        <span class="input-label">Apellido materno</span>
        <input type="text" placeholder="Apellido materno">
      </label>
      <label class="item item-select black-font col-4 select-item" id="userRegister-select3" name="gender">
        <span class="input-label">Género</span>
        <select>
          <option>Femenino</option>
          <option>Masculino</option>
        </select>
      </label>
      <label class="item item-input item-floating-label register-input no-border col-5" id="userRegister-input9" name="phone">
        <span class="input-label">Celular</span>
        <input type="tel" placeholder="Celular">
      </label>
      <label class="item item-input item-stacked-label no-border register-input" id="userRegister-input10" name="birthdate">
        <span class="input-label">Fecha de nacimiento</span>
        <input type="date" placeholder="Fecha de nacimiento">
      </label>
      <label class="item item-input item-floating-label no-border register-input" id="userRegister-input11" name="emergency-number">
        <span class="input-label">Telefono de emergencia</span>
        <input type="tel" placeholder="Telefono de emergencia">
      </label>
      <label class="item item-select black-font col-4 select-item" id="userRegister-select4" name="state">
        <span class="input-label">Estado</span>
        <select></select>
      </label>
      <label class="item item-select black-font col-4 select-item" id="userRegister-select5" name="city">
        <span class="input-label">Ciudad</span>
        <select></select>
      </label>
      <label class="item item-input item-stacked-label no-border" id="userRegister-input12" name="mail">
        <span class="input-label">Usuario (e-mail)</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input item-stacked-label no-border" id="userRegister-input14" name="mail">
        <span class="input-label">Contraseña</span>
        <input type="password" placeholder="">
      </label>
      <label class="item item-input item-stacked-label no-border" id="userRegister-input15" name="mail">
        <span class="input-label">Repetir contraseña</span>
        <input type="password" placeholder="">
      </label>
      <button id="userRegister-button5" style="border-radius:8px 8px 8px 8px;" class="button button-stable  button-block">SIGUIENTE</button>
      <button id="userRegister-button6" style="font-weight:600;text-align:right;" class="button button-light button-small button-block button-clear underlined">+ Iniciar sesión</button>
    </form>
  </ion-content>
</ion-view>