<ion-view title="user-manual" hide-nav-bar="true" id="page17">
  <ion-content padding="true" style="background: url(img/Huqj35YuSYeofvfNPhZF_manual.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="userManual-container15">
      <a ui-sref="menu.home" id="userManual-button28" class="button button-positive  icon ion-android-cancel"></a>
      <h3 id="userManual-heading10" style="color:#fff;text-align:center;">Manual de usuario</h3>
      <div id="userManual-markdown22" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;">Y, viéndole don Quijote de aquella manera, con muestras de tanta tristeza, le dijo: Sábete, Sancho, que no es un hombre más que otro si no hace más que otro.</p>

        <p style="color:#FFFFFF;">Todas estas borrascas que nos suceden son señales de que presto ha de serenar el tiempo y han de sucedernos bien las cosas; porque no es posible que el mal ni el bien sean durables, y de aquí se sigue que, habiendo durado mucho el mal, el bien
          está ya cerca.</p>

        <p style="color:#FFFFFF;">Así que, no debes congojarte por las desgracias que a mí me suceden, pues a ti no te cabe parte dellas. Y, viéndole don Quijote de aquella manera, con muestras de tanta tristeza, le dijo: </p>
      </div>
    </div>
  </ion-content>
</ion-view>